.transparent_class {
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";

  /* IE 5-7 */
  filter: alpha(opacity=50);

  /* Netscape */
  -moz-opacity: 0.5;

  /* Safari 1.x */
  -khtml-opacity: 0.5;

  /* Good browsers */
  opacity: 0.5;
}

.vertical-align-custom {
  margin: 10px 0 10px 0 !important;
  color: #D3D3D3;
}

.toast-top-right {
  top: 75px !important;
}

.restaurant-breadcrumb {
  padding-left: 0 !important;
} 

.margin-bottom-5 {
  margin-bottom: 5px !important;
}
a.inline-link {
  display: inline !important;
}

.sidebar .menu .list div.like-an-anchor {
    color: #747474;
    position: relative;
    display: inline-flex;
    vertical-align: middle;
    width: 100%;
    padding: 10px 13px;
}
