.nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
     zoom:1; /* hasLayout ie7 trigger */
}

.nav-tabs, .nav-pills {
    text-align:center;
}

section.content {
	margin: 5px auto auto auto !important;
}
#topBtn {
	text-align: center;
	width: 70px;
    /*display: none;  Hidden by default */
    position: fixed; /* Fixed/sticky position */
	bottom: 20px;
    right: 50%; /* Place the button 15px from the right */
    margin-right: -110px;
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: red; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px;
    font-size: 18px; /* Increase font size */
}

#topBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}

#clearBtn {
	text-align: center;
	width: 70px;
    /*display: none;  Hidden by default */
    position: fixed; /* Fixed/sticky position */
	bottom: 20px;
    left: 50%; /* Place the button 15px from the right */
    margin-left: -110px;
    z-index: 99; /* Make sure it does not overlap */
	border: none; /* Remove borders */
	outline: none; /* Remove outline */
	background-color: red; /* Set a background color */
	color: white; /* Text color */
	cursor: pointer; /* Add a mouse pointer on hover */
	padding: 15px; /* Some padding */
	border-radius: 10px;
	font-size: 18px; /* Increase font size */
}
#clearBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}

#orderBtn {
	position: fixed;
	bottom: 20px;
	left: 50%;
	width: 70px;
	margin-left: -35px;
	z-index: 99; /* Make sure it does not overlap */
	border: none; /* Remove borders */
	outline: none; /* Remove outline */
	background-color: red; /* Set a background color */
	color: white; /* Text color */
	cursor: pointer; /* Add a mouse pointer on hover */
	padding: 15px; /* Some padding */
	border-radius: 10px; /* Rounded corners */
	font-size: 18px; /* Increase font size */
}
#orderBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}
.date-picker-days i {
	padding: 0 !important;
}
section.content {
	margin-top: 1px !important;
}